---
import Layout from "../components/Layout.astro";
import Heading from "../components/Heading.astro";
import { getCollection, type CollectionEntry } from "astro:content";

  // remove drafts
  async function getFilteredPosts() {
  const posts = await getCollection('posts')
  return posts.filter((post: CollectionEntry<'posts'>) => !(post.data.draft == true))
}

// non-drafts
const blog_posts = (await getFilteredPosts()).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="The Black Epicure">
  <script slot="head" type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "The Black Epicure",
    "description": "My name is Asindu. Sometimes I feel like saying something. So, I put my words here. Here's what I am doing now.",
    "url": Astro.site?.href,
  })} />
  <section class="home">
    <header class="home-header">
      <Heading as="h1">The Black Epicure</Heading>
      <p class="home-tagline">
        My name is <a href="/about">Asindu</a>. Sometimes I feel like saying something. 
        So, I put my words here. Here's what I am doing  <a href="/now">now</a>.
      </p>

      <!-- <br/>
        <form action="https://buttondown.com/api/emails/embed-subscribe/the-black-epicure" method="post" class="minimal-form">
              <div class="input-group">
                <label for="email"> 
                  <b style="color: #90B2E4;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                    Subscribe For Updates
                  </b>
                <br/>
                <input class="minimal-form-email" type="email" name="email" id="email" placeholder="steve.jobs@apple.com" required />
                </label>
              </div>
              
              <input type="hidden" value="1" name="embed" />
              <input class="minimal-form-subscribe" type="submit" value="Subscribe" />
        </form>
      <br/> -->

      <center>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M4.02 3.349a3.01 3.01 0 0 1 5.96 0q.322-.073.663-.074a3.01 3.01 0 0 1 1.425 5.661A3.01 3.01 0 0 1 7 12.108a3.01 3.01 0 0 1-5.068-3.172a3.009 3.009 0 0 1 1.425-5.66q.343 0 .664.073M9 7.346c0 1.28-.72 2-2 2s-2-.72-2-2s.72-2 2-2s2 .72 2 2" clip-rule="evenodd"/></svg>
      </center>
    </header>
    <ul class="post-list">
      {
        blog_posts.map((post, index) => {

          const formattedDate = post.data.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          });

          var counter = index + 1

          function compute_counter() {
            var count_number = blog_posts.length - counter

            if (count_number < 9) {
              return `00${count_number}`
            } else {
              return `0${count_number}`
            }
          }

          return (
            <li class="post-item">
              <a href={`/${post.id}`}>
                <span class="post-title"><span class="post-counter">{compute_counter()}</span> {post.data.title}</span>
                <span class="post-description">{post.data.description}</span>
                <time datetime={post.data.date.toISOString()}>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M12 21q-1.875 0-3.512-.712t-2.85-1.925t-1.925-2.85T3 12t.713-3.512t1.924-2.85t2.85-1.925T12 3q2.05 0 3.888.875T19 6.35V4h2v6h-6V8h2.75q-1.025-1.4-2.525-2.2T12 5Q9.075 5 7.038 7.038T5 12t2.038 4.963T12 19q2.625 0 4.588-1.7T18.9 13h2.05q-.375 3.425-2.937 5.713T12 21m2.8-4.8L11 12.4V7h2v4.6l3.2 3.2z"/></svg>                  
                {formattedDate}
                </time>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>

<style>
  .home-header {
    margin-bottom: var(--space-md);
  }

  .home-tagline {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-top: var(--space-sm);
  }

  .post-list {
    list-style: none;
    padding: 0;
  }

  .post-item {
    /* border-bottom: 1px solid var(--color-border); */
  }

  .post-item:first-child {
    /* border-top: 0.2px solid var(--color-border); */
  }

  .post-item a {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-md) 0;
    text-decoration: none;
    color: var(--color-text);
  }

  .post-item a:hover .post-title {
    color: var( --color-text-tertiary);
  }

  .post-title {
    color: var(--color-text-tertiary);
    font-family: var(--font-heading);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.3;
    transition: color 0.15s ease;
  }

  .post-description {
    font-family: var(--font-body);
    font-size: 0.9375rem;
    color: var(--color-text-secondary);
    line-height: 1.5;
  }

  .post-item time {
    font-family: var(--font-heading);
    font-size: 0.75rem;
    color: #EF9651;
    margin-top: var(--space-xs);
  }

  .post-item {
    border-bottom: 0.1px solid var(--color-border);
  }
</style>
